@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica",  "Arial", sans-serif;
  background: #eaeaea;
}
    * {
        margin:0px;
        padding:0px;
      }
      body, html {
        height: 100%;
        background-color: #EEEEEE;
      }
      #header {
        margin:auto;
        width:100%;
        font-family:Arial, Helvetica, sans-serif;
      }
      #logo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          background: #323639;
           /*background: #00a4d3 para color celeste*/
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          padding-right: 30px;
          margin: 0;
          padding-left: 30;

        }
        #logo2 {
          width: 50px;
          height: 50px;
        }
        .nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          background: #323639;
           /*background: #00a4d3 para color celeste*/
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          padding-left: 850px;
          padding-right: 30px;
          margin: 0;
        }
        ul, ol {
            list-style:none;
        }
        
      .nav > li {
    

      }
      .nav li  {
        text-align: right;
        background-color:#323639;
        color:#fff;
        text-decoration:none;
        
        display:block;
      
      }
      .nav li a {
        text-align: right;
        background-color:#323639;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
      
      }
      
      .nav li a:hover {
        background-color:#000000;

      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
      }
      
      .nav li:hover > ul {
        display:block;
      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }
      .buscar {
        padding: 7px;
        background: #323639;
        border-radius: 5px;
        outline: none;
      } 
     
        footer {
        background-color:#1A1A1A;
        height: 20%;
        color: white;
        padding: 15px;
        display: block;
        
      }

      .main1 { 
        display:flex;
        margin:0 auto;
      }

      a img:hover {
          color: #fff;
      }
      #youtube {
        width: 50px;
        height: 50px;
      }
      .rowx {
        text-align: center;
      }

#banner1{
  text-align: center;
}
#info {
  padding-left: 140px;
}
#video {
  text-align: center;
  width: 550;
  height: 550;
}
#visi {
  float:left;
  width: 40%;

}
#misi {
  float:left;
  width: 40%;
}


